* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #171719;
}

body > main {
    display: grid;
    grid-template-columns: 30% 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    column-gap: 40px;
}

h1, h2 {
    font-family: 'Inknut Antiqua', serif;
}

p {
    font-family: 'Imprima', sans-serif;
}

.sub-title {
    color: #F1F1F1;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 30px;
    border: none;
    height: 1px;
    background-color: #23232a;
}

header .cover {
    margin-bottom: 20px;
}

header .cover img:last-of-type {
    width: 100%;
    border-radius: 5px;
}

header .cover img:first-of-type {
    position: absolute;
    top: -5%;
    left: -5%;
    opacity: 0.5;
    z-index: -1;
}

header .links {
    margin-bottom: 40px;
}

section .main-header h1:first-child {
    color: #FAE2E2;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 83%;
}

section .title-desc {
    color: #FAE2E2;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
}

section .title-desc span {
    color: #baa9e8;
}

section .main-body p {
    color: #8a8487;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

section .main-body p:first-of-type {
    margin-bottom: 50px;
}

footer {
    background-color: #1b1b1e;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #baa9e8;
    font-weight: 400;
    font-size: 16px;
}

footer svg {
    height: 11px;
    fill: indianred;
}

footer a {
    color: inherit;
}

footer p:nth-last-child(1) {
    margin-top: 30px;
    color: #baa9e86b;
    max-width: 400px;
    text-align: center;
}


@media screen and (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    section .title {
        font-size: 28px;
    }
}